<!DOCTYPE html>
<html
  lang="pt-br"
  lang="pt"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmls:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="../static/css/materialize.min.css"
      media="screen,projection"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/home">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/cadastro">Cadastro</a></li>
        </ul>
      </div>
    </nav>
    <script
      type="text/javascript"
      src="../static/js/materialize.min.js"
    ></script>
  </body>
</html>
